@import 'menu';
@import 'table';

body {
  background-color: #fff;
}
md-content {
  background-color: #fff;
}
.home-title {
  font-size: 1.7rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

.orange-card {
  color: white;
  background-color: #e65100;
}
.cyan-card {
  background-color: #00acc1;
}

.language-button {
  min-width: initial;
}

.footer {
  color: white;
  background-color: #ee6e73;
}
