<div layout="row" flex-offset-gt-sm="10" flex-gt-sm="80">
    <div layout="column" layout-gt-sm="row" layout-align="start center" layout-align-gt-sm="space-around none" layout-padding
        flex="100">
        <div>
            <h3>Dziewiarstwo Maszynowe Mieczysław Klimczak</h3>
            <p class="flow-text">

                istnieje na rynku od 1989 roku.
                <br>
                <br> Od tego czasu nasze skarpety zdobyły sympatie wielu ludzi z całej Polski, dzięki najwyższej jakości
                przędzy(bawełny czesanskowej oraz włókna bambusowego) używanej do wyrobu naszych produktów. Szeroki asortyment
                wzorów i kolorów oraz możliwość wyboru rozmiaru skarpet pozwala nam trafić w gust każdego klienta.
                <br>
                <br> Korzystamy z nowoczesnych maszyn dziewiarskich produkcji włoskiej, co pozwala nam sprostać współczesnym
                trendom mody oraz zrealizować każde zamówienie.
                <br>
                <br> Oprócz stałej oferty zaprezentowanej poniżej realizujemy również zamówienia specjalne zgodne z indywidualnymi
                potrzebami klienta. Ilość takiego zamówienia jest za każdym razem uzgadniania z odbiorcą.
                <br>
            </p>
        </div>

        <!--<img src="images/offer.jpg" alt="" width="500px">-->
    </div>
</div>