<div flex-offset="5" flex-offset-gt-sm="20" flex-gt-sm="60" flex="90">
  <p>
    {{'We declare that the production of our socks are adhered to the law, in particular human rights.' | translate}}
    {{'No children or minors work in the production.' | translate}}
    {{'The production is based on natural raw materials (cotton yarn and bamboo), which minimizes the negative impact on the environment.' | translate}}
    {{'European product.' | translate}}<br />
    {{'Made in Poland.' | translate}}
  </p>
</div>