<div layout="column" flex-offset-gt-sm="20" flex-gt-sm="60">
  <div layout="column" layout-gt-sm="row" layout-align="start center" layout-align-gt-sm="space-around none" layout-padding>

    <div layout="column" layout-align="center center">
      <img src="images/mik.jpg" alt="{{ 'MIK_SOCK' | translate }}" width="150px" height="150px">
      <div layout="column">
        <p class="home-title" hide show-gt-sm>
          {{ 'Sock from A to Z' | translate }}
        </p>
        <md-button class="md-accent md-raised" ui-sref="offer">
          {{ 'See newest offer' | translate }}
        </md-button>
      </div>
    </div>
    <md-card ng-click="goToDetails(sock)">
      <md-card-header>
        <md-card-header-text>
          <span class="md-headline">Skarpety męskie</span>
        </md-card-header-text>
      </md-card-header>
      <img src="/images/socks/men.jpg" class="md-card-image" alt="{{sock.name | translate}}">
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Oferta Męska</md-button>
      </md-card-actions>
    </md-card>
    <md-card ng-click="goToDetails(sock)">
      <md-card-header>
        <md-card-header-text>
          <span class="md-headline">Skarpety męskie</span>
        </md-card-header-text>
      </md-card-header>
      <img src="/images/socks/men.jpg" class="md-card-image" alt="{{sock.name | translate}}">
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Oferta Męska</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <md-divider></md-divider>
  <div layout="column" layout-gt-sm="row">
    <md-card class="orange-card">
      <md-card-content>
        <h2>{{ 'Join the group of satisfied customers' | translate }}</h2>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="contact">{{ 'Contact' | translate }}</md-button>
      </md-card-actions>
    </md-card>
    <md-card class="cyan-card">
      <md-card-content>
        <h2>{{ 'exists since 1989' | translate }}!</h2>
        <p>{{ 'Company Dziewiarstwo Maszynowe Mieczysław Klimczak exists on market since 1989.' | translate }}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="about">{{ 'Learn more' | translate }}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>