<div layout="column" flex-offset-gt-sm="20" flex-gt-sm="60">
  <div layout="column" layout-gt-sm="row" layout-align="start center" layout-align-gt-sm="space-around none" layout-padding>

    <div layout="column" layout-align="center center" flex="65">
      <img src="images/mik.jpg" alt="{{ 'MIK_SOCK' | translate }}" width="150px" height="150px">
      <div layout="column">
        <p class="home-title" hide show-gt-sm>
          {{ 'Sock from A to Z' | translate }}
        </p>
        <md-button class="md-accent md-raised" ui-sref="offer">
          {{ 'See newest offer' | translate }}
        </md-button>
      </div>
    </div>
    <div flex="30" layout="row" layout-wrap>
      <div flex="33">
        <md-card>
          <img src="/images/socks/m06.jpg" class="md-card-image" alt="{{'Skarpety męskie' | translate}}" width="200px" height="298px">
        </md-card>
      </div>
      <div flex="33">
        <md-card>
          <img src="/images/socks/m02.jpg" class="md-card-image" alt="{{'Skarpety damskie' | translate}}" width="200px" height="298px">
        </md-card>
      </div>
      <div flex="33">
        <md-card>
          <img src="/images/socks/f01.jpg" class="md-card-image" alt="{{'Skarpety damskie' | translate}}" width="200px" height="298px">
        </md-card>
      </div>
      <div flex="33">
        <md-card>
          <img src="/images/socks/w01.jpg" class="md-card-image" alt="{{'Skarpety damskie' | translate}}" width="200px" height="298px">
        </md-card>
      </div>
      <div flex="33">
        <md-card>
          <img src="/images/socks/m05.jpg" class="md-card-image" alt="{{'Skarpety damskie' | translate}}" width="200px" height="298px">
        </md-card>
      </div>
      <div flex="33">
        <md-card>
          <img src="/images/socks/k04.jpg" class="md-card-image" alt="{{'Skarpety damskie' | translate}}" width="200px" height="298px">
        </md-card>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout="column" layout-gt-sm="row">
    <md-card class="orange-card">
      <md-card-content>
        <h2>{{ 'Join the group of satisfied customers' | translate }}</h2>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="contact">{{ 'Contact' | translate }}</md-button>
      </md-card-actions>
    </md-card>
    <md-card class="cyan-card">
      <md-card-content>
        <h2>{{ 'exists since 1989' | translate }}!</h2>
        <p>{{ 'Company Dziewiarstwo Maszynowe Mieczysław Klimczak exists on market since 1989.' | translate }}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="about">{{ 'Learn more' | translate }}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>