<md-sidenav md-component-id="left" class="md-sidenav-left" layout="column">
  <md-button ui-sref="home" ng-click="toggleLeftMenu()">
    {{ 'Main Page' | translate }}
  </md-button>
  <md-button ui-sref="offer" ng-click="toggleLeftMenu()">
    {{ 'Offer' | translate }}
  </md-button>
  <md-button ui-sref="about" ng-click="toggleLeftMenu()">
    {{ 'About company' | translate }}
  </md-button>
  <md-button ui-sref="contact" ng-click="toggleLeftMenu()">
    {{ 'Contact' | translate }}
  </md-button>
</md-sidenav>