<div  layout="column" layout-gt-sm="row" flex-offset-gt-sm="10" flex-gt-sm="80">
    <div layout="column"  layout-align="center center" layout-padding flex="10">
        <i class="material-icons move-arrow" ng-if="beforeSelectedSock" ui-sref="details({offerId: beforeSelectedSock.id})">chevron_left</i>
    </div>
    <div layout="column" layout-gt-sm="row" layout-align="start center" layout-align-gt-sm="space-around none" layout-padding flex="80">
        <div>
            <img ng-src="/images/socks/{{sock.id}}.jpg" width="340" height="600" class="md-card-image" alt="{{sock.name | translate}}">
        </div>
        <div layout="column" >
            <h1> {{ sock.name | translate }} </h1>
            <h3>ID: {{sock.id}}</h3>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="description in sock.descriptions">
                    <md-checkbox></md-checkbox>
                    <div class="md-list-item-text">
                        <p>{{description | translate}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <div class="mik-sizes" layout="column">
                <p>{{'Sizes' | translate}}</p>
                <div layout="column">
                    <div ng-repeat="size in sock.sizes">{{size}}</div>
                </div>
            </div>
            <div class="mik-colors" layout="column">
                <p>{{'Colors' | translate}}</p>
                <div layout="row">
                    <color-box color="colorName" ng-repeat="colorName in sock.colors">
                    </color-box>
                    <div class="empty-box">
                        ?
                        <md-tooltip>
                        {{'More colors available on special order' | translate}}
                        </md-tooltip>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                {{ 'Amount in package' | translate }}: <b>{{sock.amount}} par</b>
            </div>
            <md-button ui-sref="offer">
                {{ 'Go back' | translate }}
            </md-button>

        </div>
    </div>
    <div layout="column"  layout-align="center center" layout-padding flex="10">
        <i class="material-icons move-arrow" ng-if="afterSelectedSock" ui-sref="details({offerId: afterSelectedSock.id})">chevron_right</i>
    </div>
</div>