<div layout="row" flex-offset-gt-sm="10" flex-gt-sm="80">
    <div layout="column">
        <div layout="row" layout-align="start center" layout-margin layout-wrap>
            <div>
                <p>Kategorie:</p>
            </div>
            <md-checkbox ng-model="category.value" aria-label="{{ category.name | translate }}" ng-repeat="category in categories">
                {{ category.name | translate }}
            </md-checkbox>
        </div>
        <div layout="column" layout-gt-sm="row" layout-align="start center" layout-align-gt-sm="start start" layout-wrap>
            <div flex="100" flex-gt-sm="25" ng-repeat="sock in socks | categoryFilter:categories">
                <md-card ui-sref="details({offerId: sock.id})">
                    <img ng-src="/images/socks/{{sock.id}}.jpg" class="md-card-image" alt="{{sock.name | translate}}">
                    <md-card-title>
                        <md-card-title-text>
                            <md-chips ng-model="sock.categories" readonly="true">
                                <md-chip-template>
                                    <strong>{{$chip | translate}}</strong>
                                </md-chip-template>
                            </md-chips>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Zobacz więcej</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>
<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="item in items">
        <p>Number {{item}}</p>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>