<div layout="row" flex-offset-gt-sm="10" flex-gt-sm="80">
    <div layout="column">
        <div layout="row" layout-align="start center" layout-margin layout-wrap>
            <div>
                {{ 'Categories' | translate }}:
            </div>
            <md-checkbox ng-model="category.value" ng-change="toggleCategories(category)" aria-label="{{ category.name | translate }}"
                ng-repeat="category in categories">
                {{ category.name | translate }}
            </md-checkbox>
        </div>
        <div layout="column" layout-gt-sm="row" layout-gt-lg="row" layout-align="start center" layout-align-gt-sm="start start" layout-wrap>
            <div flex="100" flex-gt-sm="25" flex-gt-lg="10" ng-repeat="sock in socks | categoryFilter:categories as filtered">
                <md-card ui-sref="details({offerId: sock.id})">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{sock.name |translate}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="/images/socks/{{sock.id}}.jpg" class="md-card-image" alt="{{sock.name | translate}}">
                    <md-card-title>
                        <md-card-title-text>
                            <md-chips ng-model="sock.categories" readonly="true">
                                <md-chip-template>
                                    <strong>{{$chip | translate}}</strong>
                                </md-chip-template>
                            </md-chips>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>{{ 'See more' | translate }}</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div>
            {{'Show' | translate}} {{filtered.length}} {{'from' | translate}} {{socks.length}} {{'available' | translate}}.
        </div>
    </div>
</div>