.black-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #B0BEC5;
  background: #000;
  width: 20px;
  height: 20px;
}

.gray-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #DFDFDF;
  width: 20px;
  height: 20px;
}

.dark-gray-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #AEAEAE;
  width: 20px;
  height: 20px;
}

.dark-jeans-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #003153;
  width: 20px;
  height: 20px;
}

.jeans-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #4e6590;
  width: 20px;
  height: 20px;
}

.sea-color-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #008080;
  width: 20px;
  height: 20px;
}

.bronze-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #964B00;
  width: 20px;
  height: 20px;
}

.beige-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #D0A87F;
  width: 20px;
  height: 20px;
}

.graphite-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #36454F;
  width: 20px;
  height: 20px;
}

.white-box {
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #D5D5D5;
  background: #ffffff;
  width: 20px;
  height: 20px;
}

.empty-box {
  text-align: center;
  margin: 3px;
  border-radius: 10px;
  border: 3px solid #B0BEC5;
  width: 20px;
  height: 20px;
}